@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url("https://use.typekit.net/jdr2npf.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('http://fonts.cdnfonts.com/css/eurostile-extended');
@import url('http://fonts.cdnfonts.com/css/eurostile-mn');




html {
    scroll-behavior: smooth;
}

.parallax {
    /*Background image for main background*/

    background-image: url("images/background2.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-main {
    background-image: linear-gradient(to right, rgba(18,78,131,0.9), rgba(078, 170, 248, 0.3));
}